{% extends "layout.html" %}
{% block title %}Bus Information{% endblock %}
{% block content %}
<script>
document.addEventListener('DOMContentLoaded',
() => {
    {% for stop in data[0] %}
    {% for departure in data[0][stop] %}
    startTime({{departure[4]}}, {{departure[5]}}, '{{departure[6]}}')
    {% endfor %}
    {% endfor %}
}
, false);
function startTime(bus_h, bus_m, id) {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = 60 - today.getSeconds();
  document.getElementById(id).innerHTML = getMinutes(bus_h - h, bus_m - m, s);
  var t = setTimeout(() => startTime(bus_h, bus_m, id), 500);
}
function getMinutes(h, m, s) {
  var mins_left = m + h*60
  var seconds_left = s + 60*mins_left

  if (seconds_left <= -5)
  {
    return "<font color=\"red\">Departed</font>"
  }
  else if (seconds_left <= 0)
  {
    if (seconds_left % 2 == 0){
      return "<font color=\"red\">QUICK, GET ON!</font>"
    }
    else {
      return "<font color=\"white\">QUICK, GET ON!</font>"
    }
  }
  else if (seconds_left <= 60)
  {
    return "<font color=\"green\">Due</font> in " + s + " seconds"
  }
  return "Bus expected in " + (m + h*60) + " minutes"
}
function remove_last_element(list_a) {
  return list_a.splice(0, list_a.length - 1)
}
function initMap() {
  var bus_id = document.currentScript.getAttribute('bus_id');
  var map = new google.maps.Map(document.getElementById('googleMap'), {zoom: 15, center: {lat: 0, lng: 0}});

  var markers = [];
  var js_data = remove_last_element([{% for route in data[1] %}remove_last_element([ '{{route[0]}}',{% for latlong in route[1] %}[ {{latlong[0]}}, {{latlong[1]}} ],{% endfor %}[]]),{% endfor %}[]])
    var route;
    for (route = 0; route < js_data.length; route++) {
      if (js_data[route][0] == bus_id){
        var latlong;
        for (latlong = 0; latlong < js_data[route][1].length; latlong++){
            var bus_stop = {lat: js_data[route][1][latlong][0], lng: js_data[route][1][latlong][1]};
            markers.push(new google.maps.Marker({position: bus_stop, map: map}))
        }
      }
    }

   map.setCenter(markers[0].position)
}

</script>

<div id="container" class="container body-content">
    <table style="width:95%">
        <tr>
            <th width="28%"><h2>Bus Information</h2></th>
            <th width="72%"><marquee behavior="scroll" direction="left" scrollamount="20">🚌</marquee></th>
        </tr>
    </table>
    <div>
        <p>Postcode: <span>{{ postcode }}</span></p>
        {% for stop in data[0] %}
        <p><h2><span>{{ stop }}</span></h2></p>
        <table style="width:75%">
            <tr align="left">
                <th>Time</th>
                <th>Number</th>
                <th>Destination</th>
                <th>Operator</th>
            </tr>
            {% for departure in data[0][stop] %}
            <tr>
                <th><div id="{{departure[6]}}"></div></th>
                {% for info in departure[1:4] %}
                <th>{{ info }}</th>
                {% endfor %}
            </tr>
            <div id="googleMap" style="width:80%;height:300px;"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key={{data[2]}}&callback=initMap" bus_id="{{departure[6]}}"></script>



            {% endfor %}
        </table>

        {% endfor %}
    </div>
</div>



{% endblock %}


